.ccard__card {
    display: flex;
    flex-direction: column;
    pad: 5px;
}

.ccard__title {
    font-size: 28px;
    text-align: center;
}

.ccard__image {
    width: 100%;
    height: 75%;
}

.ccard__btn {
    padding: 12px;
    background: red;
    font: bold;
}


